html, body, #root {
  height: 100%;
}
body, #root {
  display: flex;
  flex-direction: column;
}
.header {
  padding: 20px;
  color:blue;
  background: #000000;
}
.header a {
  margin: auto 30px;
}
.content {
  flex: 1 0 auto;
  padding: 0 15px;
}

.homepage-wrapper {
  text-align: center;
  justify-content: center;
}
