html, body, #root {
  height: 100%;
}
body, #root {
  display: flex;
}
.header {
  padding: 20px;
  color:blue;
  background: #000000;
}
.header a {
  margin: auto 30px;
}
.content {
  flex: 1 0 auto;
  padding: 0 15px;
}

.homepage-wrapper {
  text-align: center;
  justify-content: center;
}

.eventClass {
  text-align:center;
  background-color: #71A9D4;
  margin:10px;
  padding:10px;
  width:200;
  border-radius:15px;
  border-color:#2172AF;
}

.eventConatiner {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  flex-flow: row wrap;
  flex: 1 0 auto;
  margin-left:px;
  margin-right:30px;
}